@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(179.53deg, #FBF7E8 -0.92%, #EDE8D6 107.2%);
    height: 100vh;
    overflow: hidden;
}

p {
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-around;

    position: fixed;
    bottom: 10px;

    width: 100vw;
}

footer a,
footer p {
    font-size: 14px;
    font-family: 'Roboto';
    color: #333;
    text-decoration: none;
}

footer a {
    color: black;
}

.container {
    margin-top: 75px;
}

.container .text h1{
    font-family: 'Baskerville';
    font-weight: 100;
    font-size: 70px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
}

.container .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#countdown{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 70px;
    letter-spacing: 10px;
    z-index: 1;

    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 70vw;
    
    color: #524F44;
}

#countdown p {

letter-spacing: 0.15em;
}

.group {
    position: fixed;
    bottom: 30px;
    min-width: 100vw;
    z-index: -1;
}

.wave {
    position: fixed;
    bottom: 0;
    min-width: 100vw;
    z-index: -1;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 50rem) {
    .container .text h1 {
        font-size: 45px;
    }

    .container .text #countdown p {
        font-size: 40px;
    }
}

@media (max-width: 500px) {
    .container .text h1{
        line-height: 60px;
        text-align: center;
        flex-wrap: wrap;
        margin: 0 9rem;
    }

    #countdown {
        margin: 0 .5rem;
    }
}